body{
    font-family: Arial;
    background: #E8F7EE;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 1% 2%;
    margin: 1% 0%;
    display: inline-block;
    border: 1px solid grey;
}

.button1{
    width: 15%;
}
.button2{
    margin-top: 1%;
}

.button3{
    margin-left: 1;

}

.center{
    text-align: center;
}

.container{
    padding: 2%;
}

.logo{
    margin-right: 1%;
}

.cardW{
    width: 18rem;
}



