<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
<div class="container center">
    <h1>Create account</h1>
</div>
<!--Create account form-->
<div class="container">
    <!--Form method for saving user datta in databse-->
    <form action="#" th:action="@{/createUser}" th:object="${User}" method="post">

        <!--Firstname for account/DB-->
        <label><b>Firstname</b></label><br>
        <input type="text" th:field="*{firstName}" placeholder="Enter firstname" required><br>

        <!--Lastname for account/DB-->
        <label><b>Lastname</b></label><br>
        <input type="text" th:field="*{lastName}" placeholder="Enter lastname" required><br>

        <!--Email for account/DB-->
        <label><b>Email</b></label><br>
        <input type="text" th:field="*{email}" placeholder="Enter email" required><br>

        <!--password for account/DB-->
        <label><b>Password</b></label><br>
        <input type="password" th:field="*{password}" placeholder="Enter password" required>


        <label><input type="checkbox" th:field="*{authority}"> Admin </label><br>

        <!--"Create" submit button-->
        <button type="submit" class="btn btn-outline-dark btn-xxl button1">Create account</button><br>
    </form>
    <a th:href="@{/}" class="btn btn-dark btn-xs button2">Return to login</a>
</div>

</body>
</html>