<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="stylesheet.css" rel="stylesheet">
    <title>Project Manager</title>
</head>
<body>

<div class="container">
    <div>

    <h1>Your project:
        <span th:text="${currentProject.projectName}"></span>
    </h1>

    </div>

    <h2>Project Tasks</h2>

    <table class="table table-light table-striped">
        <thead>
        <tr>
            <th class="table-light"> Task Name</th>
            <th class="table-light"> Task Description</th>
            <th class="table-light"> Task time estimate</th>
            <th class="table-light"> Delete</th>
            <th class="table-light"> Subtasks</th>
            <th class="table-light"> Edit projekt</th>
        </tr>
        <tr th:each="Task : ${taskList}">
            <td th:text="${Task.taskName}" class="table-light"></td>

            <td th:text="${Task.taskDescription}" class="table-light"></td>


            <td th:text="${Task.taskTimeEstimate}" class="table-light"></td>

            <td><a th:href="@{'/deleteTask/'+${Task.taskId}}" class="btn btn-outline-dark btn-xs button3 logo" >Delete</a></td>

            <td><a th:href="@{'/goToSubtaskManager/'+${Task.taskId}}" class="btn btn-outline-dark btn-xs button3 logo" >Go to subtasks</a></td>
            <td><a th:href="@{'/goToEditTask/'+${Task.taskId}}" class="btn btn-outline-dark btn-xs button3 logo" >Edit this task</a></td>


         <!--   <table class="table table-light table-triped">
        <thead>
        <tr>
            <th class="table-light"> Subtask name</th>
            <th class="table-light"> Subtask Description</th>
            <th class="table-light"> Subtask time estimate</th>-->

        <!--</tr>

        <tr th:each="Task : ${taskList}">
            <td th:text="${Task.subTasks}"></td>
        </tr>
        </thead>
            </table>-->
        </tr>
        </thead>
    </table>

    <br>
    <br>
    <br>

    <!--<table class="table table-light table-striped">
        <thead>
        <tr>
            <th class="table-light"> SubTask Name</th>
            <th class="table-light"> SubTask Description</th>
            <th class="table-light"> SubTask time estimate</th>
            <th class="table-light"> Delete</th>
            <th class="table-light"> Edit projekt</th>
        </tr>
        <tr th:each="subTask : ${taskList}">
            <td th:text="${Task.taskName}" class="table-light"></td>
            <td th:text="${Task.taskDescription}" class="table-light"></td>
            <td th:text="${Task.taskTimeEstimate}" class="table-light"></td>
            <td><a th:href="@{'/deleteTask/'+${Task.taskId}}" class="btn btn-outline-dark btn-xs button3 logo" >Delete</a></td>
            <td></td>

        </tr>
        </thead>
    </table>-->





    <a th:href="@{'/goToCreateTask/'+${project.projectId}}"  class="btn btn-outline-dark btn-xs">Create task</a> <br>
    <a th:href="@{/goToFrontPage}" class="btn btn-dark btn-xs button2">Return to project site</a>
</div>


</body>
</html>